{{- range $componentName, $component := .Values.components }}
{{- $componentNameValue := $component.name | default $componentName }}
{{- $ingressEnabled := false }}
{{- if and (hasKey $component "ingress") (hasKey $component.ingress "enabled") }}
  {{- $ingressEnabled = $component.ingress.enabled }}
{{- else }}
  {{- $ingressEnabled = $.Values.defaults.ingress.enabled }}
{{- end }}
{{- if and $component.enabled $ingressEnabled }}
{{- $fullName := include "app.fullname" $ }}
{{- $svcPort := $.Values.defaults.service.port }}
{{- if hasKey $component "service" }}
  {{- if $component.service.port }}
  {{- $svcPort = $component.service.port }}
  {{- end }}
{{- end }}
{{- $path := "/" }}
{{- if hasKey $component "ingress" }}
  {{- if $component.ingress.path }}
  {{- $path = $component.ingress.path }}
  {{- end }}
{{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-{{ $componentNameValue }}
  labels:
    {{- include "app.labels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ $componentNameValue }}
  annotations:
    {{- if and (hasKey $component "ingress") (ne $component.ingress.path "/") }}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    {{- end }}
    {{- if hasKey $component "ingress" }}
    {{- with $component.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- end }}
spec:
  {{- $ingressClassName := $.Values.defaults.ingress.className }}
  {{- if hasKey $component "ingress" }}
  {{- if $component.ingress.className }}
  {{- $ingressClassName = $component.ingress.className }}
  {{- end }}
  {{- end }}
  {{- if $ingressClassName }}
  ingressClassName: {{ $ingressClassName }}
  {{- end }}
  rules:
    - host: {{ $component.host | quote }}
      http:
        paths:
          - path: {{ $path }}
            pathType: {{ if and (hasKey $component "ingress") (ne $component.ingress.path "/") }}ImplementationSpecific{{ else }}Prefix{{ end }}
            backend:
              service:
                name: {{ $fullName }}-{{ $componentNameValue }}
                port:
                  number: {{ $svcPort }}
{{- end }}
{{- end }} 