{{- range $componentName, $component := .Values.components }}
{{- if $component.enabled }}
{{- $componentNameValue := $component.name | default $componentName }}
{{- $service := include "app.getService" (dict "component" $component "root" $) | fromYaml }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" $ }}-{{ $componentNameValue }}
  labels:
    {{- include "app.labels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ $componentNameValue }}
spec:
  type: {{ $service.type }}
  ports:
    - port: {{ $service.port }}
      targetPort: {{ $service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "app.selectorLabels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ $componentNameValue }}
{{- end }}
{{- end }} 